<section id="sample_work">
    <h1>Sample Work</h1>
    <div class="info-wrapper hiddable" id="content_sample_work">
      <div class="info-wrap-inner">
        <div class="info-wrap-top-arrow"></div>
        <div class="slider_wrapper">
          <ul id="sample_work_slider">
            <li>
              <img src="img/samplework_slider_example.png"/>
              <p class="sample_work_name">Magma Rails</p>
              <p class="sample_work_date">2011</p>
            </li>
            <li>
              <img src="img/samplework_slider_example.png"/>
              <p class="sample_work_name">Magma Rails</p>
              <p class="sample_work_date">2011</p>
            </li>
            <li>
              <img src="img/samplework_slider_example.png"/>
              <p class="sample_work_name">Magma Rails</p>
              <p class="sample_work_date">2011</p>
            </li>
            <li>
              <img src="img/samplework_slider_example.png"/>
              <p class="sample_work_name">Magma Rails</p>
              <p class="sample_work_date">2011</p>
            </li>
            <li>
              <img src="img/samplework_slider_example.png"/>
              <p class="sample_work_name">Magma Rails</p>
              <p class="sample_work_date">2011</p>
            </li>
            <li>
              <img src="img/samplework_slider_example.png"/>
              <p class="sample_work_name">Magma Rails</p>
              <p class="sample_work_date">2011</p>
            </li>
            <li>
              <img src="img/samplework_slider_example.png"/>
              <p class="sample_work_name">Magma Rails</p>
              <p class="sample_work_date">2011</p>
            </li>
            <li>
              <img src="img/samplework_slider_example.png"/>
              <p class="sample_work_name">Magma Rails</p>
              <p class="sample_work_date">2011</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>