%section#sample_work
  %h1 Sample Work
  #content_sample_work.info-wrapper.hiddable
    .info-wrap-inner
      .info-wrap-top-arrow
      .slider_wrapper
        %ul#sample_work_slider
          -for portfolio in @portfolios
            %li
              %img{:src => portfolio.image.url(:medium) , :alt => ""}
              %p.sample_work_name= portfolio.title
              %p.sample_work_date= portfolio.release_date.year
          