%section#sample_work
  %h1 Sample Work
  #content_sample_work.info-wrapper.hiddable
    .info-wrap-inner
      .info-wrap-top-arrow
      .slider_wrapper
        %ul#sample_work_slider
          %li
            %img{:src => "assets/samplework_slider_example.png", :alt => ""}
            %p.sample_work_name Magma Rails
            %p.sample_work_date 2011
          %li
            %img{:src => "assets/samplework_slider_example.png", :alt => ""}
            %p.sample_work_name Magma Rails
            %p.sample_work_date 2011
          %li
            %img{:src => "assets/samplework_slider_example.png", :alt => ""}
            %p.sample_work_name Magma Rails
            %p.sample_work_date 2011
          %li
            %img{:src => "assets/samplework_slider_example.png", :alt => ""}
            %p.sample_work_name Magma Rails
            %p.sample_work_date 2011
          %li
            %img{:src => "assets/samplework_slider_example.png", :alt => ""}
            %p.sample_work_name Magma Rails
            %p.sample_work_date 2011
          %li
            %img{:src => "assets/samplework_slider_example.png", :alt => ""}
            %p.sample_work_name Magma Rails
            %p.sample_work_date 2011