/* @override http://localhost/bxslider_v3_plugin/css/styles.css */

/*
 * To change the color scheme of slider change each 
 * background property for each of the five styles below
 */

 /*button mixins
 and next/prev button hover state*/
 @mixin bx {
 	position:absolute;
 	top:30%;
 	right:-50px;
 	z-index:999;
 	width: 24px;
 	height: 54px;
 	text-indent: -999999px;
	&:hover {
		background-position: 0 0;
	}
 }
 
 @mixin bx-thecrowd {
 	display:block;
 	margin-top:250px;
 	z-index:999;
 	width: 24px;
 	height: 54px;
 }

/*next button*/
.bx-next {
	@include bx;
	
	background: url(/assets/gray_next.png) no-repeat;
}

.bx-next-thecrowd {
	@include bx-thecrowd;
	
	background: url(/assets/gray_next.png) no-repeat;
}

/*previous button*/
.bx-prev {
	@include bx;
	
	background: url(/assets/gray_prev.png) no-repeat;
}

.bx-prev-thecrowd {
	@include bx-thecrowd;
	
	background: url(/assets/gray_prev.png) no-repeat;
}
/*pager links mixins*/
@mixin bx-pager-links {
	margin-right: 5px;
	color: transparent;
	padding: 3px 8px 3px 6px;
	font-size:4px;
	zoom:1;
}

/*pager links*/
.bx-pager2 a {
	@include bx-pager-links;

	background: url(/assets/samplework_slider_pager.png) no-repeat 0 0px;
}

/*auto start and stop buttons*/
.bx-auto{
	text-align: center;
	padding-top: 15px;
	a {
		color: #666;
		font-size: 12px;
	}
	.start {
		background: url(/assets/gray_auto.png) no-repeat 0 2px;
		padding-left: 13px;
	}
	.stop {
		background: url(/assets/gray_auto.png) no-repeat 0 -14px;
		padding-left: 13px;
	}
}

/*
 * End color scheme styles
 */

/*pager links hover and active states
and pager wrapper*/
.bx-pager {
	text-align:center;
	padding-top: 20px;
	font-size:12px;
	color:#666;
	a {
		@include bx-pager-links;
	
		background: url(/assets/hobbystorage_slider_pager.png) no-repeat 0 0px;
	}
	.pager-active, a:hover{
		background-position:0 -10px;
	}
	
}

/*captions*/
.bx-captions {
	text-align:center;
	font-size: 12px;
	padding: 7px 0;
	color: #666;
}











