!!! 5

%html{:lang => "en"}
	%head
		%title Crowd Interactive - Design
		%meta{:charset => "utf-8"}/
		%meta{:content => "Crowd Interactive", :property => "og:title"}/
		%meta{:content => "http://www.crowdint.com", :property => "og:url"}/
		%meta{:content => "http://assets0.crowdint.com/assets/logo/ocre.png", :property => "og:image"}/
		%meta{:content => "We are a leading Ruby and Rails consultancy firm based in Mexico currently doing bussiness with startups in the United States. We specialize in builing and growing Rails applications, by increasing your IT crew onsite or offsite. We pick our projects carefully, as we only work with companies we believe in.", :property => "og:description"}/
		%meta{:content => "We are a leading Ruby and Rails consultancy firm based in Mexico currently doing bussiness with startups in the United States. We specialize in builing and growing Rails applications, by increasing your IT crew onsite or offsite. We pick our projects carefully, as we only work with companies we believe in.", :property => "description"}/

		= stylesheet_link_tag "application", :media => "all"
		= csrf_meta_tags
		%link{:href => "http://fonts.googleapis.com/css?family=Six+Caps", :rel => "stylesheet", :type=>"text/css"}/
		%link{:href => "http://fonts.googleapis.com/css?family=Oswald", :rel => "stylesheet", :type=>"text/css"}/

	%body
		#bg_default.bg_page_default<
		#bg_design<

		%header
			%h1 Crowd Interactive

		%footer
			%p Crowd Interactive © 2012, This site is protected by copyright. Under U.S and international law. All rights reserved.

		%section#the_crowd
			%h1 The Crowd
			#content_the_crowd.info-wrapper.hiddable
				.info-wrap-inner
					.info-wrap-top-arrow<
					.slider_wrapper2
						.thecrowd_float_left1
							%a.bx-prev-thecrowd.the_crowd_random_slide{:href => "#"}<
						.thecrowd_float_left
							.the_crowd_heads
								.thecrowd_head.thecrowd_head_karla
									%p.person_vertical_name.person_vertical_name_karla Karla
									%a.show_details_karla{:href => "#"}<
								.thecrowd_head_hidden.thecrowd_head_hidden_karla
									%p.person_horizontal_name.person_horizontal_karla_name Karla
									%p.person_horizontal_name.person_horizontal_karla_lastname Dominguez
									%p.person_horizontal_description
										Product designer 
										%br
										UX/UI Expert 
										%br
										Warrior Princess
								.thecrowd_head.thecrowd_head_fabian
									%p.person_vertical_name.person_vertical_name_fabian Fabian
									%a.show_details_fabian{:href => "#"}<
								.thecrowd_head_hidden.thecrowd_head_hidden_fabian
									%p.person_horizontal_name.person_horizontal_fabian_name Fabian
									%p.person_horizontal_name.person_horizontal_fabian_lastname Mendo
									%p.person_horizontal_description
										Web graphic designer
										%br
										HTML5, CSS3
										%br
										FIFA 2012 Champion
										%br
										Swimmer
								.thecrowd_head.thecrowd_head_norberto
									%p.person_vertical_name.person_vertical_name_norberto Norberto
									%a.show_details_norberto{:href => "#"}<
								.thecrowd_head_hidden.thecrowd_head_hidden_norberto
									%p.person_horizontal_name.person_horizontal_norberto_name Norberto
									%p.person_horizontal_name.person_horizontal_norberto_lastname Hernandez
									%p.person_horizontal_description
										Front End
										%br
										HTML & CSS Expert
										%br
										Revolutionary man
								.thecrowd_head.thecrowd_head_haro
									%p.person_vertical_name.person_vertical_name_haro Haro
									%a.show_details_haro{:href => "#"}<
								.thecrowd_head_hidden.thecrowd_head_hidden_haro
									%p.person_horizontal_name.person_horizontal_haro_name Jesus
									%p.person_horizontal_name.person_horizontal_haro_lastname Haro
									%p.person_horizontal_description
										Web graphic designer
										%br
										Ilustrator
										%br
										Amateur photographer
										%br
										Cinephile
							.clearfix<
							%ul#the_crowd_slider_bodies
								%li
									#thecrowd_body_karla.thecrowd_body
								%li
									#thecrowd_body_fabian.thecrowd_body
								%li
									#thecrowd_body_norberto.thecrowd_body
								%li
									#thecrowd_body_haro.thecrowd_body
							%ul#the_crowd_slider_legs
								%li
									#thecrowd_legs_karla.thecrowd_legs
								%li
									#thecrowd_legs_fabian.thecrowd_legs
								%li
									#thecrowd_legs_norberto.thecrowd_legs
								%li
									#thecrowd_legs_haro.thecrowd_legs
						.thecrowd_float_left
							%a.bx-next-thecrowd.the_crowd_random_slide{:href => "#"}<
						.clearfix<

		= yield

		%section#mistery_box
			%h1 Mistery Box
			#content_mistery_box.info-wrapper.hiddable
				.info-wrap-inner
					.info-wrap-top-arrow<
					.slider_wrapper
						%ul#mistery_box_slider
							%li
								.mistery_slide
									%p.mistery_title The best way to use the wireframes
									%p.mistery_tags_title 
										Tags.
										%span.mistery_tags Article | Technical
									.mistery_quote_globe
										%p.mistery_big_quote “
										%p.mistery_quote Lorem ipsum dolor sit amet, consectetur adipiscing elit.
										.clearfix<
									.mistery_quote_triangle<
									.mistery_content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							%li
								.mistery_slide
									%img.mistery_image{:src => "assets/misterybox_image_example.png", :alt => ""}
									.mistery_float
										%p.mistery_title Inspiring sites
										%p.mistery_tags_title
											Tags.
											%span.mistery_tags Article | Inspiration
										.mistery_content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									.clearfix<

		%section#hobby_storage
			%h1 Hobby Storage
			#content_hobby_storage.info-wrapper.hiddable
				.info-wrap-inner
					.info-wrap-top-arrow<
					.slider_wrapper
						%ul#hobby_storage_slider
							%li
								.hobby_slide_left
									%img{:src => "assets/hobbystorage_slider_example.png"}
								.hobby_slide_right
									%p.hobby_title El Cuino Olimpico
									%p.hobby_type Poster
									%p.hobby_price $9 USD / $100 Pesos
									.float_left
										%p.hobby_subtitle Paper:
										%p.hobby_sub_text Opalina
									.float_left
										%p.hobby_subtitle Size:
										%p.hobby_sub_text 90 x 50 mm
									.clearfix<
									.float_left
										%p.hobby_subtitle Description:
										%p.hobby_sub_text Lorem ipsum dolor sit amet, consectetur adipiscing alit. Donec consequat pretium consectetur.
									.float_right.margin_left
										%button.hobby_add_to_cart Add to cart
									.clearfix<
							%li
								.hobby_slide_left
									%img{:src => "assets/hobbystorage_slider_example.png"}
								.hobby_slide_right
									%p.hobby_title El Cuino Olimpico
									%p.hobby_type Poster
									%p.hobby_price $9 USD / $100 Pesos
									.float_left
										%p.hobby_subtitle Paper:
										%p.hobby_sub_text Opalina
									.float_left
										%p.hobby_subtitle Size:
										%p.hobby_sub_text 90 x 50 mm
									.clearfix
									.float_left
										%p.hobby_subtitle Description:
										%p.hobby_sub_text Lorem ipsum dolor sit amet, consectetur adipiscing alit. Donec consequat pretium consectetur.
									.float_right.margin_left
										%button.hobby_add_to_cart Add to cart
									.clearfix<
							%li
								.hobby_slide_left
									%img{:src => "assets/hobbystorage_slider_example.png"}
								.hobby_slide_right
									%p.hobby_title El Cuino Olimpico
									%p.hobby_type Poster
									%p.hobby_price $9 USD / $100 Pesos
									.float_left
										%p.hobby_subtitle Paper:
										%p.hobby_sub_text Opalina
									.float_left
										%p.hobby_subtitle Size:
										%p.hobby_sub_text 90 x 50 mm
									.clearfix<
									.float_left
										%p.hobby_subtitle Description:
										%p.hobby_sub_text Lorem ipsum dolor sit amet, consectetur adipiscing alit. Donec consequat pretium consectetur.
									.float_right.margin_left
										%button.hobby_add_to_cart Add to cart
									.clearfix<

		%section#make_contact
			%h1 Make Contact
		




		= javascript_include_tag "application"
